body{
    background-color: #a51313; /* Color gris claro */
    margin: 10;
    padding: 10;
  }
header { 
    text-align: center; 
    border-color: rgb(62, 62, 214); 
    border-style: dotted double dashed solid;
    border-width: 2px 4px 8px 16px;  
}