/* Colores */
body {
    background-color: #8a0b0b; /* Color gris claro */
    margin: 0;
    padding: 0;
  }
#p1 {
    font-size: 24px;
    color: rgb(247, 244, 244);
}
#p2 {
    font-size: 24px;
    color: rgb(236, 229, 229);
}
#p3 {
    font-size: 24px;
    color: rgb(236, 229, 229);
}
#p4 {
    font-size: 24px;
    color: rgb(236, 229, 229);
}
#p5 {
    font-size: 24px;
    color: rgb(236, 229, 229);
}
#p6 {
    font-size: 24px;
    color: rgb(236, 229, 229);
}
footer { 
    text-align: center;
    color: white ;
    background-image: url("imagen/descarga.jpg");
    border: 40px solid ;
    padding: 20px;
}